:root {
    --max-content-width: 1100px;
    --medium-content-width: 800px;
    --small-content-width: 600px;
    --navbar-width: 800px;
}

[data-font-size="desktop-devanagari"] {
    --sanskrit-large-font-size: 23.5px;
    --sanskrit-font-size: 19px;
    --sanskrit-small-font-size: 17.75px;
    --primary-font-size: 19px;
    --secondary-font-size: 16px;
    --tertiary-font-size: 14.5px;
}

[data-font-size="desktop-iast"] {
    --sanskrit-large-font-size: 22px;
    --sanskrit-font-size: 17.5px;
    --sanskrit-small-font-size: 16px;
    --primary-font-size: 19px;
    --secondary-font-size: 16px;
    --tertiary-font-size: 14.5px;
}

[data-font-size="mobile-devanagari"] {
    --sanskrit-large-font-size: 20px;
    --sanskrit-font-size: 16.5px;
    --sanskrit-small-font-size: 15.75px;
    --primary-font-size: 16.5px;
    --secondary-font-size: 14.75px;
    --tertiary-font-size: 14.5px;
}

[data-font-size="mobile-iast"] {
    --sanskrit-large-font-size: 19.5px;
    --sanskrit-font-size: 16px;
    --sanskrit-small-font-size: 15.25px;
    --primary-font-size: 16.5px;
    --secondary-font-size: 14.75px;
    --tertiary-font-size: 14.5px;
}

[data-theme="dark"] {
    --background: rgb(55, 55, 55);
    --navbar-background: rgb(35, 35, 35);
    --accent-color: rgb(63, 113, 205);
    --highlight-color: rgb(85, 85, 85);
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(235, 235, 235);
    --text-tertiary: rgb(185, 185, 185);
    --text-alternate: rgb(179, 203, 255);
    --shadow-color: rgb(10, 10, 10);
}

[data-theme="light"] {
    --background: rgb(255, 255, 255);
    --navbar-background: rgb(245, 245, 245);
    --accent-color: rgb(217, 230, 255);
    --highlight-color: rgb(225, 225, 225);
    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(30, 30, 30);
    --text-tertiary: rgb(70, 70, 70);
    --text-alternate: rgb(42, 101, 211);
    --shadow-color: rgb(180, 180, 180);
}

html,
body {
    height: 100%;
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
p {
    color: var(--text-primary);
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 15px;
    text-align: center;
}

a:link {
    color: var(--text-primary);
}

a:visited {
    color: var(--text-secondary);
}

a:hover {
    color: var(--text-alternate);
}

.btn {
    box-shadow: none !important;
}

.form-check-input {
    box-shadow: none !important;
}