:root {
    --max-content-width: 1100px;
    --centered-content-width: 800px;
}

[data-font-size="desktop"] {
    --primary-font-size: 19px;
    --secondary-font-size: 16px;
    --tertiary-font-size: 14.5px;
}

[data-font-size="mobile"] {
    --primary-font-size: 17px;
    --secondary-font-size: 14.75px;
    --tertiary-font-size: 14.5px;
}

[data-theme="dark"] {
    --background: rgb(55, 55, 55);
    --navbar-background: rgb(35, 35, 35);
    --accent-color: rgb(63, 113, 205);
    --highlight-color: rgb(85, 85, 85);
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(235, 235, 235);
    --text-tertiary: rgb(185, 185, 185);
    --text-alternate: rgb(25, 78, 177);
    --shadow-color: rgb(10, 10, 10);
}

[data-theme="light"] {
    --background: rgb(255, 255, 255);
    --navbar-background: rgb(238, 235, 241);
    --accent-color: rgb(175, 203, 255);
    --highlight-color: rgb(215, 215, 215);
    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(50, 50, 50);
    --text-tertiary: rgb(100, 100, 100);
    --text-alternate: rgb(85, 135, 228);
    --shadow-color: rgb(180, 180, 180);
}

h1,
h2,
h3,
h4,
h5,
p {
    color: var(--text-primary);
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

a:link {
    color: var(--text-primary);
}

a:visited {
    color: var(--text-secondary);
}

a:hover {
    color: var(--text-alternate);
}

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: none !important;
}

.navbar-toggler {
    box-shadow: none !important;
}