html, body {
    background-color: rgb(55, 55, 65);
    color:rgb(230, 230, 230);
    margin: 0;
    padding: 0;
}

p {
    color: white;
    padding: 0;
    margin: 0;
}

a:link {
    color:rgb(238, 238, 238);
}

a:visited {
    color:rgb(189, 187, 187);
}

a:hover {
    color:rgb(245, 226, 226);
}

a:active {
    color:rgb(230, 230, 230);
} 

.list-group-item-dark {
    background-color: rgb(85, 89, 87);
}

.list-group-item-dark:hover {
    background-color: rgb(111, 117, 116);
    cursor: pointer;
}

.accordion-button {
    color: white;
    background: rgb(76, 118, 155);
}

.accordion-button:not(.collapsed) {
    color: white;
    background: rgb(81, 150, 214);
}

.accordion-button:hover {
    color: white;
    background: rgb(98, 157, 207);
}

.accordion-button::after {
    border-radius: 3px;
    background-size: 24px;
    width: 24px;
    height: 24px;
}