.collapsible {
    transition: height 1.2s ease-in-out;
}

.collapsible-button {
    background: #35343400;
    border-color: rgba(0, 0, 0, 0);
    padding: 4px 4px;
    width: 100%;
    color: #c5c5c5;
    text-decoration: none;
    text-align: left;
}

.collapsible-button:hover {
    transition: all 0.2s ease-in-out;
    background: rgb(87, 87, 87);
}
