.side-bar-link {
    color: white;
    text-decoration: underline rgb(214, 214, 214);
}

.verse-link {
    text-decoration: none;
}

.side-bar-accordion {
    background: rgb(84, 84, 85);
    color: white;
}
