.side-bar-link {
    text-decoration: none;
}

.side-bar-item {
    list-style-type: none;
}

.side-bar {
    width: 20%;
    position: fixed;
    height: auto;
    z-index: 1;
    align-self: left;
    list-style-type: none;
}
