.verse-text {
    font-size: 20px;
    color: rgb(252, 251, 250);
    padding-bottom: 5px;
    white-space: pre-wrap;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.translation-text {
    font-size: 16.5px;
    color: rgb(252, 251, 250);
    padding-bottom: 5px;
    padding-top: 5px;
    white-space: pre-wrap;
    text-align: center;
}

.verse-text-tab {
    color: #d1d1d1;
    font-size: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
}

.verse-text-tab:hover {
    background: #646464;
    color: #ffffff;
    cursor: pointer;
}

.translation-accordion {
    background: rgb(84, 84, 85);
    color: white;
}
