.verse-text {
    font-size: 22px;
    color: rgb(252, 251, 250);
    padding-bottom: 5px;
    white-space: pre-wrap;
    text-align: center;
}

.translation-text {
    font-size: 17px;
    color: rgb(252, 251, 250);
    padding-bottom: 5px;
    white-space: pre-wrap;
    text-align: center;
}

.verse-text-tab {
    color: #d1d1d1;
    padding: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: fit-content;
}

.verse-text-tab:hover {
    background: #646464;
    color: #ffffff;
    cursor: pointer;
}

.verse-word {
    font-size: inherit;
}

.translation-accordion {
    background: rgb(84, 84, 85);
    color: white;
}
